body {
    background-color: black;
    font-family: 'Bree Serif', serif;
}

h1,h2,h3,h4,h5,h6,button,a, input[type="submit"] {
    font-family: 'Bree Serif', serif;
}

#logo-container .callout{
    background-color: #ee3f54;
    color: white;
    margin-bottom: 0px;
}

#social-container {
    background-color: #1c3643;
}

#menu-container {
    background-color: #48a18d;
}

#menu-container li a{
    color: white;
    font-family: 'Bree Serif', serif;
}

#submenu-container{
    border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover{
    color: #f6e15f;
}

#submenu-container li a{
    background-color: #48a18d;
    color: white;
}

#tickets-action .callout {
    background-color: #5e7eb7;
    color: white;
    margin-bottom: 0px;
}

#tickets-action .callout button {
    border: 1px solid white;
    color: white;
}

#lineup-container {
    padding: 16px 0;
}

#lineup-container,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a,
#lineup-container .tabs-panel {
    background-color: #9676af;
    border: 0;
    color: white;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
}
.tabs-content {
    border:0px;
}

#lineup-container .tabs .tabs-title a {
    font-size: 18px;
    color: #a7fffb;
}

#lineup-container .tabs .tabs-title a:hover {
    background-color: #9676af;
    color: white;
}

.tabs-title {
    display: inline-block;
    float: none;
}

#lineup-container .orbit-container {
    margin-bottom: 16px;
}

#lineup-container .column:nth-child(odd) figcaption {
    text-align: right;
}


/* Pricing table */

.pricing-table {
    background-color: white;
    border: solid 1px #DDDDDD;
}
.pricing-table li {
    border-bottom: dotted 1px #DDDDDD;
    font-size: 0.75rem;
    padding: 0.875rem 1.125rem;
}
.pricing-table li:last-child {
     border-bottom: 0;
}
.pricing-table .title {
    background-color: #333333;
    color: #EEEEEE;
    font-size: 0.875rem;
    border-bottom: 0;
}
.pricing-table .price {
    background-color: #F6F6F6;
    color: #333333;
    font-size: 1.75rem;
    border-bottom: 0;
}
.pricing-table .description {
    color: #777777;
    font-size: 0.625rem; }
    .pricing-table .button {
    margin: 0;
}

#tickets-container {
    background-color: #f6e15f;
    color: #161742;
    padding: 16px 0;
}

#info-container {
    background-color: #161742;
    color: white;
    padding: 16px 0;
}

.info-map iframe {
    width: 100%;
}

#suscribete-container {
    background-color: #ee1354;
    color: white;
    padding: 16px 0px;
}

#suscribete-container h4 small {
    color:#ffcddc;
}

#suscribete-container .error-container {
    font-family: 'Bree Serif', serif;
}

.is-invalid-input:not(:focus) {
    background-color: rgb(255, 228, 228);
    border-color: rgb(255, 228, 228);
}

.data-sticky {
    width: 100%;
    z-index: 100;
}

#offCanvas,
#offCanvas li a {
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
}

#offCanvas .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent white;
}

#offCanvas .js-drilldown-back > a::before {
    border-color: transparent white transparent transparent;
}
